<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>YOURNAME is working on site!</title>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="https://glitch.com/edit/themes/sugar.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js"></script>
    <script src="https://glitch.com/edit/error-page.js"></script>
  </head>
  <body class="error-page ghost-border">
    <div class="container">

      <h1>
        Sorry we are under work.
      </h1>

    </div>

    <canvas id="stars"></canvas>

  </body>
</html>